code {
  padding: .15em;
	margin:.2em;
	background: rgb(243, 249, 255);
}

.highlight code {
	background: none;
}

kbd {
	font-size: .8em;
	color: white;
	background: #232b35;
	padding: .3em;
	border-radius: 3px;
}